@font-face {
    font-family: '';
    src: url('KodomoRounded.woff2') format('woff2'),
        url('KodomoRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('KodomoRounded-Light.woff2') format('woff2'),
        url('KodomoRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

