@font-face {
    font-family: '';
    src: url('Honoka_Shin_Mincho_L.woff2') format('woff2'),
        url('Honoka_Shin_Mincho_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

